/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
  }
  
  .dark {
    background-color:#000814;
    color:white;
    .btnDark{
      background-color: #FFE83D;
    }
    .footer_bgDark{
      background-color: rgb(31 41 55);
    }
    .text-hoverdark :hover{
      color:#C6D6E1;
      
    }
    .form-style {
      @apply rounded-lg bg-[#1F2937] p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
    }
    .section_bg{
      background-color: rgba(17, 24, 39, 1);
    }
    .box-shadow{
      box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 10px;
    }
    
  }
  .box-shadow{
    box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
   
  }
  .section_bg{
    background-color: rgba(247, 248, 252, 1);
  }
  .text-shadow{
    text-shadow: 2px 2px 2px currentColor;
  }
 

  
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background: #000814;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #afb2bf;
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  
   
   
  
